@using MetalMonkey.Engine.Routing
@using MetalMonkey.Site.FutureImperfect.Shared
@using MetalMonkey.Site.FutureImperfect.Pages

<ViewIndex TView=Section>
    <Views>
        <Section>
            <Heading>Home</Heading>
            <Content>
                <MetalMonkey.Site.FutureImperfect.Pages.Post>
                    <Content>Head Section</Content>
                </MetalMonkey.Site.FutureImperfect.Pages.Post>
            </Content>
        </Section>

        <Section Name="pages">
            <Heading>Pages</Heading>
            <Content>
                <PageLayout>
                    <Body>
                        <h4>Pages Section</h4>
                    </Body>
                </PageLayout>
            </Content>
        </Section>

        <Section Name="blog">
            <Heading>Blog</Heading>
            <Content>
                <ViewIndex TView=Section Base="blog">
                    <Views>
                        <Section>
                            <Heading>Blog Home</Heading>
                            <Content Context="routeContext">
                                <IndexLayout>
                                    <Body>
                                        Blog Home Section
                                    </Body>
                                </IndexLayout>
                            </Content>
                        </Section>
                        <Section Name="post">
                            <Content Context="routeContext">
                                <PageLayout>
                                    <Body>
                                        <PostRouter Root="data/pages" RouteContext="routeContext" Context="post">
                                            <Post Content="@post.Content" FrontMatter="@post.FrontMatter" />
                                        </PostRouter>
                                    </Body>
                                </PageLayout>
                            </Content>
                        </Section>
                    </Views>
                </ViewIndex>
            </Content>
        </Section>

        <Section>
            <Heading>Photos</Heading>
            <Content>
                <h4>Photos Section</h4>
            </Content>
        </Section>
    </Views>
</ViewIndex>
