@using MetalMonkey.Engine.Routing
@using MetalMonkey.Site.FutureImperfect.Shared
@using MetalMonkey.Site.FutureImperfect.Pages

<ViewIndex Id="Main" TView=Section DefaultView="@typeof(MetalMonkey.Site.Dimension.Pages.IndexPage)">
    <IndexHeaderTemplate Context="views">
        <nav>
            <ul>
                @views
            </ul>
        </nav>
    </IndexHeaderTemplate>

    <Views>
        <Section Name="pages">
            <Heading>Pages</Heading>
            <Content>
                <PageLayout>
                    <Body>
                        <h4>Pages Section</h4>
                    </Body>
                </PageLayout>
            </Content>
        </Section>

        <Section Name="blog">
            <Heading>Blog</Heading>
            <Content>
                <ViewIndex Id="Blog" TView=Section Base="blog" DefaultView="@typeof(MetalMonkey.Site.FutureImperfect.Pages.IndexPage)">
                    <IndexHeaderTemplate Context="views">
                        <nav class="links">
                            <ul>
                                <li><a href="/blog">Blog Home</a></li>
                                @views
                            </ul>
                        </nav>
                    </IndexHeaderTemplate>
                    <Views>
                        <Section Name="post">
                            <Content Context="routeContext">
                                <PageLayout>
                                    <Body>
                                        <PostRouter Root="data/pages" RouteContext="routeContext" Context="post">
                                            <Post Content="@post.Content" FrontMatter="@post.FrontMatter" />
                                        </PostRouter>
                                    </Body>
                                </PageLayout>
                            </Content>
                        </Section>
                    </Views>
                </ViewIndex>
            </Content>
        </Section>

        <Section>
            <Heading>Photos</Heading>
            <Content>
                <h4>Photos Section</h4>
            </Content>
        </Section>
    </Views>
</ViewIndex>
