<h3>RouteTable</h3>

<CascadingValue Value="this">
    @if (@ChildContent is not null)
    {
        @ChildContent
    }
</CascadingValue>

@code {

    private List<SegmentRoute> _registeredRoutes = new List<SegmentRoute>();

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public MetalRouteContext RouteContext { get; set; }

    internal bool IsRouteHandled => _registeredRoutes.Any(rt => rt.HandledRoute);

    internal void RegisterRoute(SegmentRoute route)
    {
        _registeredRoutes.Add(route);

        if (route.CanHandleRoute(RouteContext))
        {
            StateHasChanged();
        }
    }

    internal void Reset() => _registeredRoutes.ForEach(r => r.Reset());
}
